<launch>
    <group ns = "robot_4">
        <group ns = "potbot">
            <include file="$(find mynteye_pointcloud)/launch/Riskprediction.launch"/>
            <include file="$(find mynteye_pointcloud)/launch/point_cloud.launch"/>
        </group>
    </group>
    <!-- <node pkg="mynteye_pointcloud" type="mynteye_pointcloud_br" name="mynteye_pointcloud_br" output="screen"/> -->
</launch>