<launch>
    <node pkg="mynteye_pointcloud" type="mynteye_pointcloud_cd" name="mynteye_pointcloud_cd" output="screen">
    <param name="Xmin" value="-1"/> <!-- 奥行き -->
    <param name="Xmax" value="1"/>
    <param name="Ymin" value="0"/>  <!-- 横-->
    <param name="Ymax" value="2"/>
    <param name="Zmin" value="-1"/>  <!-- 高さ-->
    <param name="Zmax" value="3"/>
    </node>
</launch>